<div class="container">  
    
  <h1> Display Data from Json File in Angular </h1>  
    
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>ID</th>  
          <th>First Name</th>
          <th>Last Name</th>  
          <th>Email</th>  
          <th>Gender</th>  
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>  
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td> 
        <td>{{ person.email }}</td>  
        <td>{{ person.gender }}</td>  
      </tr>  
    </tbody>  
  </table>  
</div>  